@using System.Reflection
@model AMZEnterpriseWebsite.Models.ViewModels.FooterViewModel

<footer id="footer-area" class="area-mt">
    <div class="container-fluid">
        <div class="row" id="footer-first-row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12" id="footer-links">
                <div id="footer-links-social">
                    <p class="footer-section-header">
                        <span class="footer-section-header-border">من</span>
                        را دنبال کنید
                    </p>
                    <ul>
                        @if (!string.IsNullOrWhiteSpace(Model.Instagram))
                        {
                            <li>
                                <a href="@Model.Instagram"><span class="fab fa-instagram"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Telegram))
                        {
                            <li>
                                <a href="@Model.Telegram"><span class="fab fa-telegram"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.GooglePlus))
                        {
                            <li>
                                <a href="@Model.GooglePlus"><span class="fab fa-google-plus"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.FaceBook))
                        {
                            <li>
                                <a href="@Model.FaceBook"><span class="fab fa-facebook"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.LinkedIn))
                        {
                            <li>
                                <a href="@Model.LinkedIn"><span class="fab fa-linkedin"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Youtube))
                        {
                            <li>
                                <a href="@Model.Youtube"><span class="fab fa-youtube"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Aparat))
                        {
                            <li>
                                <a href="@Model.Aparat"><span class="fa fa-image"></span></a>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.GitHub))
                        {
                            <li>
                                <a href="@Model.GitHub"><span class="fab fa-github"></span></a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="footer-links-contact">
                    <ul class="text-left">

                        @if (!string.IsNullOrWhiteSpace(Model.Phone1))
                        {
                            <li>
                                <span>تلفن همراه</span>
                                <span>:</span>
                                <span>@Model.Phone1</span>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Phone2))
                        {
                            <li>
                                <span>تلفن همراه</span>
                                <span>:</span>
                                <span>@Model.Phone2</span>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Email1))
                        {
                            <li>
                                <span>ایمیل</span>
                                <span>:</span>
                                <span>@Model.Email1</span>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Email2))
                        {
                            <li>
                                <span>ایمیل</span>
                                <span>:</span>
                                <span>@Model.Email2</span>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" id="footer-description">
                <p class="footer-section-header">
                    <span class="footer-section-header-border">درباره</span>
                </p>

                <p class="text-effect text-justify">
                    محیطی ایمن و راحت جهت سفارش پروژه های مختلف
                    کدنویسی شما است. به راحتی میتوانید
                    پروژه های برنامه نویسی خود را ثبت کنید و همچنین از مطالب
                    علمی و مفید این سایت بهره ببرید. این وبسایت ، وبسایت شخصی من هست
                    جهت به اشتراک گذاشتن مطالب مفید دنیای کامپیوتر و همچنین معرفی
                    نمونه کارها و دستاورد هایم.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <p class="footer-section-header">
                    <span class="footer-section-header-border">برچسب های</span>
                    پر بازدید
                </p>
                <div id="footer-tags">
                    @if (Model.PostTags != null && Model.PostTags.Any())
                    {
                        @foreach (var postTag in Model.PostTags)
                        {
                            <a asp-controller="Blog" asp-action="Index" asp-route-postTag="@postTag">@postTag</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row" id="footer-second-row">
            <div class="col-12">
                ساخته شده با
                <span class="fa fa-heart"></span>
                در <a href="http://www.xant.ir" class="text-danger">ژانت</a>
                <br />
                <span>@DateTime.Now.Year</span>
                <span>|</span>
                <span>نسخه @Assembly.GetEntryAssembly()?.GetName().Version</span>
            </div>
        </div>
    </div>
</footer>